.signup-container
  background: $colorGreenSemiDark
  margin-top: 70px
  padding: 70px 0
  text-align: center

  .wrapper
    display: flex
    flex-direction: row


.signup-item
  padding: 15px

.signup-item-title
  $titleHeight = 85px
  rem(font-size, 40)
  font-weight: 900
  height: $titleHeight
  line-height: $titleHeight
  margin: 0
  text-transform: uppercase

  .word
    display: block
    line-height: 1

  .word.-odd
    margin-top: -25px
    position: relative
    text-align: right

  .e
    rem(font-size, 60)
    color: $colorWhite
    font-family: $fontTitillium
    font-weight: 200


.signup-item-excerpt
  rem(font-size, 16)
  color: $colorWhite
  font-family: $fontTitillium
  line-height: 1.4

.signup-item-price
  rem(font-size, 40)
  color: $colorWhite
  font-weight: 900

.signup-item-slot
  rem(font-size, 16)
  color: $colorWhite
  font-family: $fontTitillium

.sympla-container
  border-top: 1px solid $colorGray
  margin-top: 0
  padding: 70px

.sympla-container-content
  max-width: 100% !important
