.main-header
  padding-top: 35px
  position: relative

  &:before
    background: $colorGray
    content: ''
    height: 425px
    position: absolute
    top: 0
    width: 100%
    z-index: 0

  .wrapper
    position: relative
    z-index: 1
