.main-header-top
  align-items: center
  display: flex
  flex-direction: row
  justify-content: flex-start
  position: relative
  width: 100%
  z-index: 1

.main-header-signup
  display: flex
  flex-direction: row
  margin: auto 0 auto auto

.main-header-signup-date
  rem(font-size, 24)
  margin: auto 35px
  text-transform: uppercase
