.main-header-realized-by
  text-align: center

.main-header-realized-by-title
  rem(font-size, 14)
  margin: 0
  text-transform: uppercase

.main-header-realized-by-text
  rem(font-size, 22)
  margin: 0
