.info-about-the-event
  margin-top: 50px

  .wrapper
    display: flex
    flex-direction: row
    justify-content: space-around


.info-about-the-event-item
  padding: 0 5px
  text-align: center
  width: 210px

.info-about-the-event-item-icon
  display: block
  margin: auto
  width: 65px

.info-about-the-event-title
  rem(font-size, 18)
  font-family: $fontTitillium
  font-weight: 400
  line-height: 1.2
  margin: 10px 0 0
