.sponsorship
  border-top: 1px solid $colorGray
  margin-top: 70px
  padding-top: 70px

  & .-container
    align-items: center
    display: flex
    flex-direction: row
    margin-bottom: 40px


.sponsorship-title
  rem(font-size, 14)
  font-family: $fontExo
  font-weight: 700
  margin-right: 40px
  text-align: right
  text-transform: uppercase
  width: 100px

.sponsorship-image
  margin-right: 40px
