.form-field
  margin: auto
  padding: 20px 0
  max-width: 500px

.form-label
  rem(font-size, 18)
  display: block
  font-weight: 900
  text-align: left
  text-transform: uppercase

.input-text
  rem(font-size, 18)
  background: transparent
  border: 0
  border-bottom: 1px solid $colorBlueDark
  color: $colorBlueDark
  font-family: $fontExo
  padding: 8px 5px
  width: 100%

  &:focus
    color: $colorWhite
    border-color: $colorWhite
    outline: 0 none

.input-robot
  display: none
