<section class="[ main-section -featured ]">
  <div class="wrapper">
    <h2 class="[ main-section-title ]">
      Call4Papers
    </h2>

    <p class="[ main-section-excerpt ]">
      O Call4Papers está fechado! Em breve teremos a grade completa \o/
    </p>

  </div>
</section>
