<div class="section call4papers">
  <div class="wrapper">
    <h2 class="call4papers-title">
      Call4Papers
    </h2>

    <p class="call4papers-excerpt">
      Quer ser um palestrante ou dar um workshop? Preencha o formulário
      que avaliaremos sua proposta.
    </p>

    <a href="<%= config.links.call4papers %>" class="button">
      Enviar proposta
    </a>
  </div>
</div>
