<section class="main-section">
  <div class="wrapper">
    <h2 class="main-section-title">
      Call4Papers
    </h2>

    <p class="main-section-excerpt">
      Quer ser um palestrante ou dar um workshop? Preencha o formulário
      que avaliaremos sua proposta.
    </p>

    <a href="<%= config.links.call4papers %>" target="_blank" class="button">
      Enviar proposta
    </a>
  </div>
</section>
