<div class="info-about-the-event">
  <div class="wrapper">
    <% config.info.forEach((info) => { %>
      <div class="info-about-the-event-item">
        <span class="info-about-the-event-item-icon">
          <img alt="" src="images/<%= info.image %>.svg">
        </span>
        <h3 class="info-about-the-event-title">
          <%= info.title %>
        </h3>
      </div>
    <% }) %>
  </div>
</div>

