@media screen and (max-width: 900px)
  .main-header-top
    flex-direction: column

  .main-header-signup
    flex-direction: column
    margin: 20px 0

  .main-header-signup-date
    margin-bottom: 20px

  .main-header-featured-image
    height: 230px

  .main-header-featured-image-title
    margin: 0
    padding: 75px 15px 0

  .main-header-featured-image-title .word
    rem(font-size, 60)
    letter-spacing: -2px

  .main-header-featured-image-title .word.-odd
    margin-top: -71px

  .main-header-featured-image-title .e
    rem(font-size, 100)

  .main-section.-featured
    padding: 15px

  .main-section-title
    rem(font-size, 48)

  .info-about-the-event .wrapper
    flex-flow: row wrap

  .info-about-the-event-item
    padding: 20px
    width: 50%

  .sponsorship .-container
    flex-direction: column
    padding: 0 15px

    img
      margin: 30px auto 0

  .sponsorship-title
    rem(font-size, 30)
    border-bottom: 1px solid $colorGray
    margin: 0
    text-align: left
    width: 100%

  .sponsorship-be-a-sponsor.-container
    margin-top: 40px

    .sponsorship-title
      border: 0


  .sympla-container
    padding: 15px

  .location-container
    margin: auto
    padding: 15px

  .location-title
    rem(font-size, 20)

  .location-address
    rem(font-size, 15)

  .main-footer
    padding: 42px 15px
