<section class="mailchimp-container">
  <div class="wrapper">
    <h2 class="mailchimp-title">
      Fique por dentro
    </h2>

    <p class="mailchimp-excerpt">
      Quer ser o primeiro a saber quando as inscrições estiverem abertas?
      Inscreva-se aqui:
    </p>

    <form action="//da2k.us6.list-manage.com/subscribe/post?u=56a51839b0a1d33544ef8745a&amp;id=d1002439cf" method="post" target="_blank">
      <div class="form-field">
        <label class="form-label" for="mc-name">Seu nome</label>
        <input type="text" name="FNAME" id="mc-name" class="input-text">
      </div>

      <div class="form-field">
        <label class="form-label" for="mc-email">Seu e-mail</label>
        <input type="email" name="EMAIL" id="mc-email" class="input-text">
      </div>

      <input type="text" name="b_56a51839b0a1d33544ef8745a_d1002439cf" placeholder="Não preencha esse campo" class="input-robot">
      <button type="submit" class="button -dark">
        Cadastrar
      </button>
    </form>
  </div>
</section>
