<section class="[ main-section ] sympla-container">
  <div class="wrapper">
    <h2 class="main-section-title">
      Ingressos
    </h2>

    <p class="main-section-excerpt">
      Os ingressos já estão disponíveis para compra com 1º e 2º lote.
      Garanta sua presença!
    </p>

    <div id="sympla-widget-60331" height="auto" class="sympla-container-content"></div>
    <script async src="http://www.sympla.com.br/js/sympla.widget-pt.js/60331"></script>
  </div>
</section>
