<section class="sympla-container">
  <div class="wrapper">
    <div id="sympla-widget-60331" height="auto" class="sympla-container-content"></div>
    <script async src="http://www.sympla.com.br/js/sympla.widget-pt.js/60331"></script>
  </div>
</section>
