.location
  height: 420px
  margin-top: 5px
  position: relative

  .map
    height: 100%
    position: absolute
    width: 100%

  .wrapper
    align-items: center
    display: flex
    height: 100%
    justify-content: flex-end


.location-container
  rem(font-size, 18)
  background: $colorWhite
  box-shadow: 7px 7px 0 rgba($colorGraySemiDark, 50%)
  font-family: $fontTitillium
  padding: 30px
  position: relative
  text-align: center
  z-index: 10

  img
    width: 120px

.location-title
  font-weight: 700
  margin: 0 0 10px
  text-transform: uppercase

.location-address
  line-height: 1.4
  margin: 0
