.location
  background: url('../images/univille-map.png') left top no-repeat
  background-size: cover
  height: 420px
  margin-top: 5px

  .wrapper
    align-items: center
    display: flex
    justify-content: flex-end
    height: 100%


.location-container
  rem(font-size, 18)
  background: $colorWhite
  box-shadow: 7px 7px 0 rgba($colorGraySemiDark, 50%)
  font-family: $fontTitillium
  padding: 30px
  text-align: center

.location-title
  font-weight: 700
  margin: 0 0 10px
  text-transform: uppercase

.location-address
  margin: 0
  line-height: 1.4
