normalize-css()

*
  box-sizing: border-box

html
  font-size: 62.5%

html, body
  height: 100%

body
  background: $colorGrayLight
  color: $colorBlueDark
  font: 130% $fontExo
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none

.main
  height: 100%

.wrapper
  margin: 0 auto
  max-width: $wrapperWidth
  width: 100%

a
  text-decoration: none
