$fontDefault = Arial, sans-serif
$fontExo = 'Exo 2', $fontDefault
$fontTitillium = 'Titillium Web', $fontDefault

$colorGreenDark = #03A577
$colorGreenSemiDark = #44BF9C
$colorGreen = #8FD8C3
$colorGreenSemiLight = #B3D8CE

$colorGrayDark = #B1B1B1
$colorGraySemiDark = #E4E5E6
$colorGray = #F2F2F2
$colorGrayLight = #FDFDFD

$colorBlueDark = #233741

$colorWhite = #FFFFFF
