// Fonts
$fontDefault = Arial, sans-serif
$fontExo = 'Exo 2', $fontDefault
$fontTitillium = 'Titillium Web', $fontDefault


// Colors
$colorGreenSemiDark = #03A577
$colorGreen = #44BF9C
$colorGreenSemiLight = #8FD8C3
$colorGreenLight = #B3D8CE

$colorGraySemiDark = #B1B1B1
$colorGray = #E4E5E6
$colorGraySemiLight = #F2F2F2
$colorGrayLight = #FDFDFD

$colorBlueDark = #233741

$colorWhite = #FFFFFF


// Measures
$wrapperWidth = 990px
