.main-section
  border-top: 1px solid $colorGray
  margin-top: 70px
  padding-top: 70px
  text-align: center

  &.-featured
    background: $colorGreenSemiDark
    border: 0
    padding: 70px 0


.main-section-title
  rem(font-size, 53)
  font-weight: 900
  text-transform: uppercase
  letter-spacing: -1px
  margin: 0

.main-section-excerpt
  rem(font-size, 18)
  max-width: 500px
  margin: 20px auto
  width: 100%
