<section class="location">
  <div class="wrapper">

    <div class="location-container">
      <img src="images/logo-univille.png" alt="Univille">
      <h3 class="location-title">
        Univille Universidade
      </h3>
      <p class="location-address">
        Rua Paulo Malschitzki, 10<br />
        Zona Industrial Norte, Joinville - SC
      </p>
    </div>

  </div>
</section>
