.button
  $buttonHeight = 44px
  rem(font-size, 18)
  background: $colorGreenSemiDark
  border-radius: 10px
  color: $colorWhite
  display: inline-block
  font-weight: 900
  height: $buttonHeight
  padding: 0 30px
  line-height: $buttonHeight
  text-align: center
  text-transform: uppercase
