<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>SC Dev Summit 2016</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700,900|Titillium+Web:200,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="main">
    <% include partials/header/main-header %>

    <div class="main-content">
      <% include partials/content/info %>
      <% include partials/content/sponsorship/sponsorship %>
      <% include partials/content/call4papers %>
      <% include partials/content/signup/signup %>
      <% include partials/content/location/location %>
    </div>

    <% include partials/footer/main-footer %>
  </div>
</body>
</html>
