<div class="main-header-featured-image">
  <h2 class="main-header-featured-image-title">
    <span class="word">Frontend</span>
    <span class="word -odd">
      <span class="e">&</span>Backend
    </span>

  </h2>
  <img class="layer" src="images/layer1.svg" alt="">
  <img class="layer" src="images/layer2.svg" alt="">
  <img class="layer" src="images/layer3.svg" alt="">
  <img class="layer" src="images/layer4.svg" alt="">
  <img class="layer" src="images/layer5.svg" alt="">
</div>
