<div class="main-header-top">
  <h1 class="brand">
    <img src="images/logo-sc-dev-summit.svg">
  </h1>

  <div class="main-header-signup">
    <p class="main-header-signup-date">
      <strong>Univille</strong>
      20 e 21 de maio
    </p>
    <a class="button" href="<%= config.links.signup %>">
      Inscreva-se
    </a>
  </div>
</div>

