<div class="main-header-featured-image">
  <h2 class="main-header-featured-image-title">
    <span class="word">Frontend</span>
    <span class="word -odd">
      <span class="e">&</span>Backend
    </span>

  </h2>
    <% include ../icons/layer1 %>
    <% include ../icons/layer2 %>
    <% include ../icons/layer3 %>
    <% include ../icons/layer4 %>
    <% include ../icons/layer5 %>
</div>
