<footer class="main-footer">
  <div class="wrapper">
    <div class="main-footer-contact">
      <a href="https://www.facebook.com/scdevsummit/" rel="noreferrer noopener" target="_blank">
        <img src="images/icon-facebook.png" alt="Facebook">
      </a>
      <strong class="questions">Dúvidas?</strong>
      <a href="mailto:scdevsummit&#64;gmail.com" class="questions-contact">
        scdevsummit&#64;gmail.com
      </a>
    </div>
  </div>
</footer>
<script async defer src="https://maps.googleapis.com/maps/api/js?libraries=visualization&callback=initMap"></script>
<script src="scripts/map.js"></script>
<script src="scripts/talks.js"></script>
