<footer class="main-footer">
  <div class="wrapper">
    <div class="main-footer-contact">
      <a href="https://www.facebook.com/scdevsummit/" target="_blank">
        <img src="images/icon-facebook.png" alt="Facebook">
      </a>
      <strong class="questions">Dúvidas?</strong>
      scdevsummit[at]gmail.com
    </div>
  </div>
</footer>
