<footer class="main-footer">
  <div class="wrapper">
    <div class="main-footer-contact">
      <img src="images/icon-facebook.png" alt="Facebook">
      <strong class="questions">Dúvidas?</strong>
      contato[at]scdevsummit.com.br
    </div>
  </div>
</footer>
