<div class="sponsorship-sponsors -container">
  <h3 class="sponsorship-title">
    Patrocínio
  </h3>

  <% config.sponsorship.sponsors.forEach((sponsor) => { %>
  <img alt=""
    src="/images/sponsors/<%= sponsor.image %>"
    width="<%= sponsor.width %>"
    height="<%= sponsor.height %>"
    class="sponsorship-image"
  >
  <% }) %>
</div>
