<div class="sponsorship-support -container">
  <h3 class="sponsorship-title">
    Apoio
  </h3>

  <% config.sponsorship.support.forEach((sponsor) => { %>
  <img alt=""
    src="images/<%= sponsor.image %>.svg"
    class="sponsorship-image">
  <% }) %>
</div>
