<div class="sponsorship-support -container">
  <h3 class="sponsorship-title">
    Apoio
  </h3>

  <% config.sponsorship.support.forEach((support) => { %>
  <img alt=""
    src="/images/sponsors/<%= support.image %>"
    width="<%= support.width %>"
    height="<%= support.height %>"
    class="sponsorship-image">
  <% }) %>
</div>
